

#web_bg {
    background-image: url("https://ae01.alicdn.com/kf/H18a4b998752a4ae68b8e85d432a5aef0l.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("https://ae01.alicdn.com/kf/H21b5f6b8496141a1979a33666e1074d9x.jpg");
   /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); 上粉下浅蓝*/
    
  }
  

/* 文章页背景 */
.layout>div:first-child:not(.recent-posts) {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,.5);
}
/* 所有背景（包括首页卡片、文章页、页面页等） */
#recent-posts>.recent-post-item,.layout>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post{
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,.5);
}


/* 头图透明    自行修改
#page-header{
    background: transparent!important;
  }
  
  #page-header::before{
    opacity: 0;
  }
  */
  /* footer透明 */
  #footer{
    background: transparent!important;
  }
  
  #footer::before{
    opacity: 0;
  }
